/* **************** Contact ****************  */

#contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-secondary);
    opacity: .9;
    border-radius: 10px;
    margin-bottom: 3em;
    width: 90%;
}

.profile-pic-wrap {
    position: relative;
    width: 15%;
    margin-bottom: 2em;
}

.profile-pic {
    border-radius: 50%;
}

.contact-bio-wrap {
    width: 90%;
    max-width: 806px;
    margin: 1.5em 0;
}

.contact-bio {
    margin: 0 auto 2em;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.fas,
.fab {
    color: var(--clr-accent-hotpink);
    transition: 300ms ease;
    font-size: 1.25rem;
}

.fas:hover,
.fas:focus,
.fab:hover,
.fab:focus {
    transform: translateY(-10px);
    color: var(--clr-accent-tealblue);
}

