/* **************** Education ****************  */

#education {
    position: relative;
    padding: 3em 0;
}

.education-container {
    width: 90%;
    margin: 0 auto;
}

.school-wrap {
    margin-bottom: 3em;
}

.school-title {
    color: var(--clr-accent-hotpink);
    font-weight: normal;
}

.school {
    margin-bottom: .5em;
}

.school-wrap,
.certs-wrap {
    background: var(--bg-secondary);
    opacity: .9;
    border-radius: 10px;
}

.school-content-wrap, 
.certs-content-wrap {
    max-width: 806px;
    margin: 0 auto;
    width: 90%;
}

.certs-wrap {
    display: flex;
    justify-content: center;
}

.scrum {
    margin-bottom: 1em;
}