/* **************** Nav ****************  */

.navbar {
    background-color: var(--bg-primary);
    opacity: .95;
    transition: width 200ms ease;
    position: relative;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item__themify {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    font-weight: bold;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* **************** Font Awesome ****************  */

.fa-primary {
    color: var(--clr-accent-pink);
}

.fa-secondary {
    color: var(--clr-accent-hotpink);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
