/* **************** Skills ****************  */

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}

.skills-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-secondary);
    opacity: .9;
    width: 90%;
    border-radius: 10px;
}

.skills-box-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 0.5em;
    gap: 2em;
}

.skills-container .skills-box {
    position: relative;
    width: 220px;
    color: var(--text-accent-off-white);
    background: var(--bg-secondary);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.skills-container .skills-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        var(--clr-accent-purple),
        var(--clr-accent-pink)
    );
    border-radius: 10px;
    z-index: 1;
}

.skills-container .skills-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        var(--clr-accent-purple),
        var(--clr-accent-pink)
    );
    border-radius: 10px;
    z-index: 2;
}

.skills-container .skills-box:nth-child(2)::before,
.skills-container .skills-box:nth-child(2)::after {
    background: linear-gradient(
        315deg,
        var(--clr-accent-skyblue),
        var(--clr-accent-purple)
    );
    border-radius: 10px;
}

.skills-container .skills-box:nth-child(3)::before,
.skills-container .skills-box:nth-child(3)::after {
    background: linear-gradient(
        315deg,
        var(--clr-accent-lightblue),
        var(--clr-accent-brightred)
    );
}

.skills-container .skills-box:nth-child(4)::before,
.skills-container .skills-box:nth-child(4)::after {
    background: linear-gradient(
        315deg,
        var(--clr-accent-hotpink),
        var(--clr-accent-lightblue)
    );
}

.skills-container .skills-box span {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: #000;
    z-index: 3;
    border-radius: 10px;
}

.skills-container .skills-box span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px 0 0 10px;
}

.skills-container .skills-box .skills-content {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.skills-content-title {
    color: var(--clr-accent-hotpink);
    margin-bottom: 0.5em;
}