/* ************** Root Styles ************** */

:root {
  /* --text-primary: #b6b6b6; */
  --text-primary: #8b949e;
  --text-secondary: #c9d1d9;
  --bg-main: #212128;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-accent-off-white: #ececec;
  --clr-accent-pink: #ff7eee;
  --clr-accent-hotpink: #df49a6;
  --clr-accent-purple: #6649b8;
  --clr-accent-tealblue: #6ce8f6;
  --transition-speed: 400ms;
  --gradient: linear-gradient(to right, #6649b8, #6ce8f6);
}

/* ************** Base Styles ************** */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto Mono", monospace, sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
  line-height: 1.6;
  scroll-behavior: smooth;
  color: var(--text-primary);
}

main {
  margin-left: 5rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

/* ************ Accent colors ************ */

.accent-hotpink {
  color: var(--clr-accent-hotpink);
}
.accent-purple {
  color: var(--clr-accent-purple);
}

.accent-tealblue {
  color: var(--clr-accent-tealblue);
}

/* ************ Scrollbar ************ */

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-accent-purple);
}

/* ************ Utility classes ************ */

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************** Nav ****************  */

.navbar {
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  position: relative;
  z-index: 100;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item__themify {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* **************** Logo ****************  */

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* **************** Font Awesome ****************  */

.fa-primary {
  color: var(--clr-accent-pink);
}

.fa-secondary {
  color: var(--clr-accent-hotpink);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* **************** Section headings ****************  */

.section-title {
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
}

.section-title::after {
  border-bottom: #00d0ff;
  width: 50%;
  opacity: .5;
  color: red;
}

/* **************** Intro ****************  */

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  min-height: 100vh;
  padding-bottom: 2em;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  max-width: 860px;
}

.intro-bio-wrap {
  margin-bottom: 1.5rem;
}

.intro-title {
  font-size: 6rem;
  color: var(--clr-accent-tealblue);
}

.intro-bio {
  font-size: 1.3rem;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.intro-sub-bio-wrap {
  display: flex;
  gap: 2rem;
  width: 80%;
}

.intro-sub-bio {
  font-size: 0.9rem;
  margin: 0 auto;
}


/* **************** Skills ****************  */

#skills {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: var(--bg-main);
  padding: 4em 0;
}

.skills-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  padding: 40px 0;
  width: 90%;
}

.skills-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2em 2em;
  gap: 2em;
}

.skills-container .skills-box {
  position: relative;
  width: 220px;
  height: 300px;
  color: var(--text-accent-off-white);
  background: var(--bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container .skills-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.skills-container .skills-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(10px);
}

.skills-container .skills-box:nth-child(2)::before,
.skills-container .skills-box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.skills-container .skills-box:nth-child(3)::before,
.skills-container .skills-box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.skills-container .skills-box:nth-child(4)::before,
.skills-container .skills-box:nth-child(4)::after {
  background: linear-gradient(315deg, red, #00d0ff);
}

.skills-container .skills-box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.skills-container .skills-box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.skills-container .skills-box .skills-content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.skills-content-title {
  color: var(--clr-accent-hotpink);
  margin-bottom: 0.5em;
}

/* **************** Projects ****************  */

#projects {
  background: var(--bg-secondary);
  padding: 4em 0;
}


.projects-sample {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.projects-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform 300ms ease;
}

.projects-img:hover {
  transform: translateY(-20px);
}

/* **************** Education ****************  */

#education {
  background: var(--bg-main);
  padding: 4em 0;
  line-height: 1.6;
  min-height: 100vh;
}

.education-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.school-wrap {
  margin-bottom: 2em;
}

.school-title {
  color: var(--clr-accent-hotpink);
}

.school {
  margin: 1em 0;
}

.school-wrap,
.certs-wrap {
  background: var(--bg-secondary);
  padding: 2em 6em;
}

/* **************** Contact ****************  */

#contact {
  background: var(--bg-secondary);
  padding: 4em 0;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.fas,
.fab {
  color: var(--clr-accent-hotpink);
  transition: 300ms ease;
  font-size: 1.25rem;
}

.fas:hover,
.fab:hover {
  transform: translateY(-10px);
}

/* **************** Small screens ****************  */

@media only screen and (max-width: 599px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* **************** Large screens ****************  */

@media (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}


