@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

@import url("nav.css");
@import url("hero.css");
@import url("intro.css");
@import url("skills.css");
@import url("projects.css");
@import url("education.css");
@import url("contact.css");

/* ************** Root Styles ************** */

:root {
    --text-primary: #8b949e;
    --text-secondary: #c9d1d9;
    --bg-main: #212128;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --clr-accent-off-white: #ececec;
    --clr-accent-pink: #ff7eee;
    --clr-accent-hotpink: #df49a6;
    --clr-accent-purple: #6649b8;
    --clr-accent-tealblue: #6ce8f6;
    --clr-accent-skyblue: #00d0ff;
    --clr-accent-lightblue: #03a9f4;
    --clr-accent-brightgreen: #4dff03;
    --clr-accent-brightred: #ff0058;
    --clr-accent-bumbleyellow: #ffbc00;
    --transition-speed: 400ms;
}

/* ************** Base Styles ************** */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', Helvetica, sans-serif, Arial;
    letter-spacing: 1px;
    line-height: 1.6;
    scroll-behavior: smooth;
    color: var(--text-primary);
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}

main,
footer {
    margin-left: 5rem;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

/* ************ Accent colors ************ */

.accent-hotpink {
    color: var(--clr-accent-hotpink);
}
.accent-purple {
    color: var(--clr-accent-purple);
}

.accent-tealblue {
    color: var(--clr-accent-tealblue);
}

/* ************ Scrollbar ************ */

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--clr-accent-purple);
}

/* ************ Utility classes ************ */

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* **************** Section settings ****************  */

.section-title {
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 1em;
    font-size: 2rem;
    width: 90%;
}

.skills-container,
.projects-container,
.contact-container {
    padding: 5em 1em;
}

.skills-container,
.projects-container,
.school-content-wrap, 
.certs-content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* **************** Footer ****************  */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background: var(--bg-secondary);
    opacity: 0.9;
}

.footer-container {
    text-align: center;
    width: 90%;
}

.copyright {
    font-size: 0.8rem;
}

/********************* Animation Fade-in********************/

.intro-bio,
.intro-bio-text,
.skills-front-end,
.skills-back-end,
.skills-other,
.skills-software,
.skills-title,
.projects-title,
.project,
.education-title,
.school,
.certs-title,
.certs,
.profile-pic,
.contact-title,
.contact-bio,
.contact-details {
    opacity: 0;
    transform: translateY(50px);
}

.fade-in {
    transform: translateX(0);
    transition: 1.5s ease;
    opacity: 1;
}

/* **************** Very Small screens (iphoneXR ****************  */

@media (max-width: 415px) {
    .section-title {
        /* font-size: 1.8rem; */
    }

    .hero__title {
        font-size: 5rem;
        margin-top: 1em;
    }

    /* Intro */
    .intro-container {
        width: 80%;
    }

    .intro-bio {
        margin-bottom: 0.5em;
    }

    /* Skills */
    .skills-container .skills-box {
        width: 100%;
    }

    /* Education */
    .school-wrap,
    .certs-wrap {
        padding: 4em 3em;
    }

    /* Contact */
    .contact-container {
        padding: 2em;
    }

    .profile-pic-wrap {
        width: 50%;
    }

    .contact-bio-wrap {
        width: 100%;
        gap: 2rem;
    }

    .contact-links {
        margin-bottom: 2em;
    }
}

/* **************** Small screens ****************  */

@media only screen and (max-width: 599px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        position: fixed;
    }

    .logo {
        display: inline-block;
        margin: 0;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main,
    footer {
        margin: 0;
    }

    .hero__title {
        line-height: 1;
        margin-bottom: 0.3em;
    }

    .intro-bio {
        font-size: 1.5rem;
    }

    /* Skills */

    .skills-container,
    .projects-container {
        padding: 3em 0;
    }

    /* Projects */

    .project-title {
        margin-left: 0;
        text-align: center;
    }

    /* Education */
    .school-wrap,
    .certs-wrap {
        padding: 3em 2em;
    }

    /* Footer */
    .footer-container {
        padding-bottom: 2em;
    }

    footer p {
        margin-bottom: 0.5em;
    }
}

/* **************** Large screens ****************  */

@media (min-width: 600px) {
    /* Navbar */
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        position: fixed;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    /* Hero */
    .hero__title {
        line-height: 1;
        margin-bottom: 0.3em;
    }
}
