/* ************** Root Styles ************** */

:root {
  --text-primary: #8b949e;
  --text-secondary: #c9d1d9;
  --bg-main: #212128;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --clr-accent-off-white: #ececec;
  --clr-accent-pink: #ff7eee;
  --clr-accent-hotpink: #df49a6;
  --clr-accent-purple: #6649b8;
  --clr-accent-tealblue: #6ce8f6;
  --clr-accent-skyblue: #00d0ff;
  --clr-accent-lightblue: #03a9f4;
  --clr-accent-brightgreen: #4dff03;
  --clr-accent-brightred: #ff0058;
  --clr-accent-bumbleyellow: #ffbc00;
  --transition-speed: 400ms;
}

/* ************** Base Styles ************** */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto Mono", monospace, sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
  line-height: 1.6;
  scroll-behavior: smooth;
  color: var(--text-primary);
  background: var(--bg-main);
}

main,
footer {
  margin-left: 5rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

/* ************ Accent colors ************ */

.accent-hotpink {
  color: var(--clr-accent-hotpink);
}
.accent-purple {
  color: var(--clr-accent-purple);
}

.accent-tealblue {
  color: var(--clr-accent-tealblue);
}

/* ************ Scrollbar ************ */

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-accent-purple);
}

/* ************ Utility classes ************ */

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************** Nav ****************  */

.navbar {
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  position: relative;
  z-index: 100;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item__themify {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* **************** Logo ****************  */

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* **************** Font Awesome ****************  */

.fa-primary {
  color: var(--clr-accent-pink);
}

.fa-secondary {
  color: var(--clr-accent-hotpink);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* **************** Section global settings ****************  */

.section-title {
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: 400;
}

/* **************** Intro ****************  */

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  min-height: 100vh;
  padding-bottom: 2em;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 860px;
  width: 70%;
}

.intro-bio-wrap {
  margin-bottom: 1.5rem;
  width: 100%;
}

.intro-title {
  font-size: 6rem;
  color: var(--clr-accent-tealblue);
}

.intro-bio {
  font-size: 1.3rem;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.intro-sub-bio-wrap {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.intro-sub-bio {
  font-size: 0.9rem;
  margin: 0 auto;
}

.resume-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  background: var(--bg-primary);
  color: var(--clr-accent-tealblue);
  border: 2px solid var(--clr-accent-tealblue);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  transition: var(--transition-speed);
}

.resume-btn:hover,
.resume-btn:focus {
  background: var(--clr-accent-purple);
}

/* **************** Skills ****************  */

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}

.skills-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  padding: 3em 0;
  width: 90%;
  border-radius: 10px;
}

.skills-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 0 0.5em;
  gap: 2em;
  transform: translateX(150px);
  opacity: 0;
}

.skills-container .skills-box {
  position: relative;
  width: 220px;
  height: 300px;
  color: var(--text-accent-off-white);
  background: var(--bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.skills-container .skills-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--clr-accent-purple),
    var(--clr-accent-pink)
  );
  border-radius: 10px;
  z-index: 1;
}

.skills-container .skills-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--clr-accent-purple),
    var(--clr-accent-pink)
  );
  border-radius: 10px;
  z-index: 2;
  /* filter: blur(5px); */
}

.skills-container .skills-box:nth-child(2)::before,
.skills-container .skills-box:nth-child(2)::after {
  background: linear-gradient(
    315deg,
    var(--clr-accent-skyblue),
    var(--clr-accent-purple)
  );
  border-radius: 10px;
}

.skills-container .skills-box:nth-child(3)::before,
.skills-container .skills-box:nth-child(3)::after {
  background: linear-gradient(
    315deg,
    var(--clr-accent-lightblue),
    var(--clr-accent-brightred)
  );
}

.skills-container .skills-box:nth-child(4)::before,
.skills-container .skills-box:nth-child(4)::after {
  background: linear-gradient(
    315deg,
    var(--clr-accent-hotpink),
    var(--clr-accent-lightblue)
  );
}

.skills-container .skills-box span {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: #000;
  z-index: 3;
  border-radius: 10px;
}

.skills-container .skills-box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  border-radius: 10px 0 0 10px;
}

.skills-container .skills-box .skills-content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.skills-content-title {
  color: var(--clr-accent-hotpink);
  margin-bottom: 0.5em;
}

/* **************** Projects ****************  */

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  background: var(--bg-secondary);
  padding: 3em 0;
  width: 90%;
  border-radius: 10px;
}

.projects-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
  padding: 0 1em;
  transform: translateX(-150px);
  opacity: 0;
}

.projects-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 300ms ease;
  background: var(--bg-primary);
  border-radius: 12px;
  border: 7px solid var(--bg-primary);
  margin-bottom: 0.3em;
}

.projects-img:hover,
.projects-img:focus {
  transform: translateY(-20px);
  border: 5px solid var(--clr-accent-tealblue);
}

.project-title {
  color: var(--text-primary);
  margin-left: 7px;
}

/* **************** Education ****************  */

#education {
  padding: 3em 0;
}

.education-container {
  width: 90%;
  margin: 0 auto;
}

.school-wrap {
  margin-bottom: 3em;
}

.school-title {
  color: var(--clr-accent-hotpink);
}

.school {
  margin: 1em 0;
}

.school-wrap,
.certs-wrap {
  background: var(--bg-secondary);
  padding: 4em 6em;
  border-radius: 10px;
}

.certs-content-wrap,
.school-content-wrap {
  max-width: 806px;
  margin: 0 auto;
}

.certs-wrap {
  display: flex;
  justify-content: center;
}

.scrum {
  margin-bottom: 1em;
}

/* **************** Contact ****************  */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  border-radius: 10px;
  padding: 4em;
  margin-bottom: 3em;
  width: 90%;
}

.profile-pic-wrap {
  position: relative;
  width: 15%;
  margin-bottom: 2em;
}

.profile-pic {
  border-radius: 50%;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.fas,
.fab {
  color: var(--clr-accent-hotpink);
  transition: 300ms ease;
  font-size: 1.25rem;
}

.fas:hover,
.fas:focus,
.fab:hover,
.fab:focus {
  transform: translateY(-10px);
  color: var(--clr-accent-tealblue);
}

/* **************** Footer ****************  */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  background: var(--bg-secondary);
}

.footer-container {
  text-align: center;
  width: 90%;
}

.copyright {
  font-size: 0.8rem;
}

/********************* Animation ********************/
.fade-in {
  transform: translateX(0);
  transition: 1.5s ease;
  opacity: 1;
}

/* **************** Very Small screens (iphoneXR ****************  */

@media (max-width: 415px) {
  .section-title {
    font-size: 1.8rem;
  }

  /* Intro */
  .intro-container {
    width: 80%;
  }

  .intro-title {
    font-size: 5rem;
    margin-top: 1em;
  }

  .intro-bio {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  .intro-sub-bio-wrap {
    gap: 1rem;
  }

  .intro-sub-bio {
    font-size: 0.8rem;
  }

  .resume-btn {
    font-size: 0.8rem;
  }

  /* Education */
  .school-wrap,
  .certs-wrap {
    padding: 4em 3em;
  }

  /* Contact */
  .contact-container {
    padding: 2em;
  }

  .profile-pic-wrap {
    width: 50%;
  }
}

/* **************** Small screens ****************  */

@media only screen and (max-width: 599px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
  }

  .logo {
    display: inline-block;
    margin: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main,
  footer {
    margin: 0;
  }

  .intro-title {
    line-height: 1;
    margin-bottom: 0.3em;
  }

  /* Education */
  .school-wrap,
  .certs-wrap {
    padding: 4em 2em;
  }

  /* Footer */
  .footer-container {
    padding-bottom: 2em;
  }

  footer p {
    margin-bottom: 0.5em;
  }
}

/* **************** Large screens ****************  */

@media (min-width: 600px) {
  /* Navbar */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }

  /* Intro */
  .intro-title {
    line-height: 1;
    margin-bottom: 0.3em;
  }
}

@media (min-width: 1000px) {
  /* Intro */
  .intro-sub-bio-wrap {
    width: 80%;
  }
}
